<?xml version='1.1' encoding='UTF-8'?>
<project>
  <description>This is for empirix test</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.plugins.jira.JiraProjectProperty plugin="jira@3.0.7"/>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.BatchFile>
      <command>cd C:\Users\gur15277\eclipse-workspace\Altran\Empirix_project&#xd;
&#xd;
java -cp &quot;C:\Users\gur15277\eclipse-workspace\Altran\Empirix_project\bin;C:\Users\gur15277\eclipse-workspace\Altran\Empirix_project\lib\*&quot; org.testng.TestNG testng.xml</command>
    </hudson.tasks.BatchFile>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>