<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<!-- Parallel execution on different browsers -->

<suite name="Suite" verbose="1" thread-count="2" parallel="tests">
  <test  name="chrome">
  <parameter name="browser" value="Chrome" />
    <classes>
      <class name="empirix_package.EmpirixTestSuite"/>
    </classes>
  </test> 

  <test  name="Firefox">
  <parameter name="browser" value="Firefox" />
    <classes>
      <class name="empirix_package.EmpirixTestSuite"/>
    </classes>
  </test> 

</suite> <!-- Suite -->
